<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2016 Packlink
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<config>
    <modules>
        <Packlink_Magento1>
            <version>0.1.0</version>
        </Packlink_Magento1>
    </modules>

    <global>
        <helpers>
            <packlink>
                <class>Packlink_Magento1_Helper</class>
            </packlink>
        </helpers>

        <blocks>
            <packlink>
                <class>Packlink_Magento1_Block</class>
            </packlink>
        </blocks>

        <models>
            <packlink_magento1>
                <class>Packlink_Magento1_Model</class>
                <resourceModel>packlink_magento1_resource</resourceModel>
            </packlink_magento1>

            <packlink_magento1_resource>
                <class>Packlink_Magento1_Model_Resource</class>
                <entities>
                    <shipment_status>
                        <table>packlink_magento1_shipment_status</table>
                    </shipment_status>
                </entities>
            </packlink_magento1_resource>
        </models>

        <resources>
            <packlink_magento1_setup>
                <setup>
                    <module>Packlink_Magento1</module>
                </setup>

                <connection>
                    <use>core_setup</use>
                </connection>
            </packlink_magento1_setup>

            <packlink_magento1_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </packlink_magento1_read>

            <packlink_magento1_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </packlink_magento1_write>
        </resources>

        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <packlink_order_shipment_observer>
                        <class>packlink_magento1/observer</class>
                        <method>sendOrderToPacklink</method>
                    </packlink_order_shipment_observer>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>

    <default>
        <Packlink_Magento1>
            <general>
                <enabled>0</enabled>
                <service_url><![CDATA[https://apisandbox.packlink.com/v1]]></service_url>
            </general>
        </Packlink_Magento1>
    </default>
</config>
